# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Téléchargement\TP2_PDS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
